<div class="timing-options">
{{#each options.timing as |timing|}}
  {{radio-button value="{{timing}}" groupValue=timing changed="changed"}}{{timing}}
{{/each}}
</div>

<div class="section-options">
{{#each options.sections as |section|}}
  {{radio-button value="{{section}}" groupValue=section changed="changed"}}{{section}}
{{/each}}
</div>
