<form {{action 'submitPractice' selectedPracticeType on='submit'}}>
  <div class="row">
    <div class="col-sm-12">
      <label>Practice Type:</label>
      <select onchange={{action 'onSelectPracticeType' value="target.value" bubbles=true}}>
          <option selected={{eq selectedPracticeType practiceType.type}}></option>
        {{#each model as |practiceType|}}
          <option value="{{practiceType.type}}" selected={{eq selectedPracticeType practiceType.type}}>{{practiceType.type}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-sm-12">
      <label>Options</label>
      {{practice-options options=this.selectedPracticeType.options}}
    </div>
  </div>
  <button type="submit">Go!</button>
</form>
