<form {{action 'submitPractice' selectedPracticeType on='submit'}}>
  <div class="row">
    <div class="col-sm-12">
      <label>Practice Type:</label>
      <select class="practice-type" onchange={{action 'onSelectPracticeType' value="target.value" bubbles=true}}>
          <option selected={{eq selectedPracticeType practiceType.type}}></option>
        {{#each model as |practiceType|}}
          <option value="{{practiceType.type}}" selected={{eq selectedPracticeType practiceType.type}}>{{practiceType.type}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-sm-12">
      <label>Options</label>
      <div class="timing-options">
      {{#each selectedPracticeType.options.timing as |timing|}}
        {{#radio-button value=timing groupValue=selectedTiming}}{{timing}}{{/radio-button}}
      {{/each}}
      </div>

      <div class="section-options">
      {{#each selectedPracticeType.options.sections as |section|}}
        {{#radio-button value=section groupValue=selectedSection}}{{section}}{{/radio-button}}
      {{/each}}
      </div>
    </div>
  </div>
  <button type="submit">Go!</button>
</form>
